node_modules

# default build destinations and products
build
dist

# typescript
*.tsbuildinfo

# optools files
.opToolsConfig

# Lerna
lerna-debug.log

# AWS CDK
# CDK asset staging directory
.cdk.staging
cdk.out
